/**
 * @file
 * FolderShare administrator page styling.
 */

/*-----------------------------------------------------------------------
 *
 * Usage table.
 *
 * The usage table has a header form with an "Update" button and a message
 * reporting the time since the last update. Below this is a table of
 * users and their usage. The last line of the table has totals.
 *
 * The usage table is not a UI, so let it be styled by the current theme.
 * Override only a little to keep the list tight.
 *
 *-----------------------------------------------------------------------*/
/*
 * Lay out the top bar with the "Update" button on the left, and the
 * time since last update message on the right.
 */
.foldershare-usage-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 4px 4px 4px;
}
.foldershare-usage-toolbar.form-group {
  padding: 0;
  margin: 0;
}

.foldershare-usage-toolbar .form-actions {
  display: inline-block;
  margin: 0;
  order: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 4px;
  padding-top: 0;
  margin: 0;
}

.foldershare-usage-update-time {
  display: inline-block;
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 4px;
  margin: 0 0 0 auto;
}

.foldershare-usage-table {
  font-family: inherit;
  width: 100%;
}

.foldershare-usage-table td,
.foldershare-usage-table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}

/*
 * Many themes inherit Drupal's default styling that gives a dark background
 * color to the column used for sorting. This looks terrible.
 * The sort up/down icons in the table heading are sufficient.
 */
.foldershare-usage-table thead tr td.is-active {
  background: transparent;
}

/*
 * Right-align numeric columns.
 */
.foldershare-usage-folders,
.foldershare-usage-files,
.foldershare-usage-bytes {
  text-align: right;
  width: 8em;
}

/*
 * Highlight the total row at the bottom of the table.
 */
.foldershare-usage-total td {
  border-top: 1px solid #ccc;
  font-weight: bold;
}

/*-----------------------------------------------------------------------
 *
 * Help page.
 *
 * Add some minimal styling for the module's help.
 *
 *-----------------------------------------------------------------------*/
.foldershare-admin-help {
  margin-bottom: 2em;
}

.foldershare-admin-help h2,
.foldershare-admin-help h4 {
  margin-top: 2em;
  clear: both;
}

.foldershare-admin-help ul,
.foldershare-admin-help dl {
  margin: 0.25em 0 0 1.5em;
  margin-left: 1em;
}
.foldershare-admin-help ul {
  padding-left: 1.5em;
}
.foldershare-admin-help dt {
  font-style: italic;
}
.foldershare-admin-help dd {
  margin-bottom: 1em;
}
.foldershare-admin-help ul li {
  margin-bottom: 1em;
}

.foldershare-admin-help-toc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.foldershare-admin-help-toc ul li {
  margin-bottom: 0;
}
.foldershare-admin-help-right-image {
  float: right;
  box-shadow: 0 0 10px 0px var(--foldershare-folder-list-shadow,var(--foldershare-folder-list-shadow-default,rgba(0,0,0,0.25)));
}
.foldershare-admin-help-recommended {
  font-variant: small-caps;
}
.foldershare-admin-help-recommended-text {
  border-left: 1px solid #ccc;
  padding-left: 4px;
  border: 1px solid #ccc;
  padding: 4px;
}

/*-----------------------------------------------------------------------
 *
 * Module settings.
 *
 * The settings page is arranged with a series of vertical tabs on the
 * left. Each tab has a pane with settings.
 *
 *-----------------------------------------------------------------------*/
#foldershare-settings .color-warning {
  border-bottom: 1px solid #ccc;
  padding: 1.0em;
}

/*
 * Some themes using the W3.CSS framework (e.g. d8w3css) insist on adding
 * "before" and "after" dummy content just so that they can be styled as
 * a "table" (which is odd) and clear floated items. Unfortunately, on
 * a vertical tabs page like that used for settings, this forces the top
 * of the tab pane to not start until below the last menu item. This is
 * weird. To fight it, we have to override the "before" and "after" dummy
 * content styling.
 *
 * The same themes fail to include any padding on tab panes, which makes
 * their content huge the pane edges and look bad. So add it back in.
 */
.foldershare-admin-settings .vertical-tabs__panes {
  /* W3CSS fix. */
  padding-left: 1em;
  padding-right: 1em;
}
.foldershare-settings-tab * div.w3-panel:before,
.foldershare-settings-tab * div.w3-panel:after,
.foldershare-settings-tab * div.w3-row:before,
.foldershare-settings-tab * div.w3-row:after {
  display: block !important;
  clear: none !important;
}

/*
 * Some themes (e.g. basic) remove all margins, padding, and list style types
 * from all <ul> and <ol>, regardless of their use. Since these elements are
 * specifically for making lists, removing their indent and bullets everywhere
 * is over zelous. Put them back here.
 */
.foldershare-settings-tab ul,
.foldershare-settings-tab ol {
  list-style-type: inherit;
  padding-left: 40px;
}

/*
 * Some themes (e.g. Basic) force all <label>s to be blocks. This pushes
 * labels for <input>s to be on a row by themselves above the <input>,
 * which is probably good. But for checkboxes and radio buttons, this
 * pushes the label onto a row below the widget, which is stupid. So
 * override the theme and fix labels.
 */
.foldershare-settings-section label.option {
  display: inline;
}
.foldershare-settings-section label:not(.option) {
  display: block;
}

/*
 * Indent <select> menus and checkboxes, plus the descriptions and
 * notes that follow them.
 */
.foldershare-settings-section .form-type-number,
.foldershare-settings-section .form-type-select,
.foldershare-settings-section .form-type-checkbox {
  margin-left: 1em;
  margin-bottom: 0;
}
.foldershare-settings-section .foldershare-settings-item-default {
  font-style: italic;
  margin-left: 1em;
}
.foldershare-settings-section .foldershare-settings-item-note {
  margin-left: 1em;
}

/*
 * For assorted "Restore" buttons, put the description beside the button.
 */
.foldershare-settings-section .foldershare_forms_restore,
.foldershare-settings-section .foldershare_displays_restore,
.foldershare-settings-section .foldershare_extensions_restore,
.foldershare-settings-section .foldershare_view_restore,
.foldershare-settings-section .foldershare_menu_restore,
.foldershare-settings-section .foldershare_search_restore,
.foldershare-settings-section .foldershare_search_clear,
.foldershare-settings-section .foldershare_rest_restore {
  display: inline-block;
  margin-right: 1em;
  min-width: 8em;
  margin-left: 1em;
}
.foldershare-settings-section .foldershare_forms_restore_description,
.foldershare-settings-section .foldershare_displays_restore_description,
.foldershare-settings-section .foldershare_extensions_restore_description,
.foldershare-settings-section .foldershare_view_restore_description,
.foldershare-settings-section .foldershare_menu_restore_description,
.foldershare-settings-section .foldershare_search_restore_description,
.foldershare-settings-section .foldershare_search_clear_description,
.foldershare-settings-section .foldershare_rest_restore_description {
  display: inline-block;
}

.foldershare-settings-section .foldershare_menu_allowed_commands {
  padding-left: 1em;
}
.foldershare-settings-section .foldershare_menu_allowed_commands label p {
  padding-left: 1em;
  margin-top: 0;
}
.foldershare-settings-section .form-item-file-upload-size,
.foldershare-settings-section .form-item-file-extensions {
  margin-left: 1em;
}
