/**
 * @file
 * Style field formatter forms.
 */

/*-----------------------------------------------------------------------
 *
 * General.
 *
 *-----------------------------------------------------------------------*/

/* Wrapper around each of the module's settings for Field UI & View UI. */
.foldershare-field-formatter-settings {
  padding: 0.5em 0.5em 0 0.5em;
  max-width: 30em;
}

.foldershare-field-formatter-settings .foldershare-settings-description {
  padding-left: 0;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  margin-top: -0.25em;
}
.foldershare-field-formatter-settings .foldershare-settings-description p {
  margin: 0 0 1em 0;
}

.foldershare-field-formatter-settings .foldershare-settings-warning {
  /*
   * For formatters that are not fully configured, highlight a warning.
   */
  font-style: italic;
  color: #834343;
  padding-left: 0;
  padding-bottom: 0.5em;
}

.foldershare-field-formatter-settings .form-item {
  padding-left: 0;
  padding-bottom: 0.25em;
  margin: 0;
}
.foldershare-field-formatter-settings .form-item.form-disabled {
  /*
   * When form items are disabled, dim them into the background.
   */
  opacity: 0.5;
}
.foldershare-field-formatter-settings .form-item label {
  /*
   * Insure form items have their label beside the input. Give them a
   * preferred width so that they line up.
   */
  display: inline-block;
  min-width: 9em;
}
.foldershare-field-formatter-settings .form-item select,
.foldershare-field-formatter-settings .form-item input[type=color],
.foldershare-field-formatter-settings .form-item input[type=number],
.foldershare-field-formatter-settings .form-item input[type=text],
.foldershare-field-formatter-settings .form-item input[type=textfield],
.foldershare-field-formatter-settings .form-item input[type=textarea] {
  /*
   * Insure form item inputs are beside their labels. Give them a
   * preferred width so all of the inputs line up and look similar.
   */
  display: inline-block;
  min-width: 20em;
  width: 20em;
}
.foldershare-field-formatter-settings .form-item input[type=number] {
  min-width: 5em;
  width: 5em;
}
.foldershare-field-formatter-settings .form-item input[type=checkbox] {
  width: 1em;
}
.foldershare-field-formatter-settings .form-item .description {
  padding-left: 9em;
}
.foldershare-field-formatter-settings .form-type-checkbox .description {
  padding-left: 1em;
  margin-left: 0;
}

.foldershare-field-formatter-settings .foldershare-section-break {
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

.foldershare-field-formatter-internal-use-only {
  color: #8b0000;
  font-style: italic;
}
