/**
 * @file
 * Module branding styles.
 */

/*
 * Branding colors.
 */
:root {
  --foldershare-branding-top-color: #f8f8f8;
  --foldershare-branding-bottom-color: #e8e8e8;
  --foldershare-branding-border-color: #eee;
}

/*-----------------------------------------------------------------------
 *
 * Branding banner for pages.
 *
 * The banner is used on the module's settings and help pages.
 *
 *-----------------------------------------------------------------------*/
.foldershare-banner-branding {
  float: right;
  width: 400px;
  text-align: center;
  padding: 6px !important;
  margin-left: 1em;
  border: 1px solid var(--foldershare-branding-border-color, #eee);
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
  background: linear-gradient(var(--foldershare-branding-top-color, #f8f8f8), var(--foldershare-branding-bottom-color, #e8e8e8));
  color: #666;
}
details.foldershare-settings-tab .foldershare-banner-branding {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.foldershare-banner-branding img {
  float: none;
  margin-bottom: 0.5em;
}
.foldershare-banner-branding a {
  font-variant: small-caps;
}

/*-----------------------------------------------------------------------
 *
 * Branding banner for field formatters.
 *
 * The banner is used on the module's custom field formatters.
 *
 *-----------------------------------------------------------------------*/
.foldershare-field-formatter-settings {
  border: 1px solid var(--foldershare-branding-border-color, #eee);
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
  background: linear-gradient(var(--foldershare-branding-top-color, #f8f8f8), var(--foldershare-branding-bottom-color, #e8e8e8));
  color: #666;
}
.foldershare-field-formatter-settings img {
  margin-bottom: 0.5em;
}
.foldershare-field-formatter-settings .foldershare-settings-description {
  border-bottom: 1px solid var(--foldershare-branding-border-color, #eee);
}
.foldershare-field-formatter-settings .form-item label {
  color: #000;
}
.foldershare-field-formatter-settings .form-item .description {
  font-size: 100%;
  font-style: italic;
  font-weight: normal;
}
.foldershare-field-formatter-settings .foldershare-section-break {
  border-bottom: 1px solid var(--foldershare-branding-border-color, #eee);
}
