/**
 * @file
 * Mime type icons.
 */

/*
 * Define a folder icon at the same size as the default Drupal file icons.
 */
.file--mime-rootfolder-group-directory {
  /* Image from Google's Material Design icon set. */
  /*
   * Root folder list icon, light gray fill with black outline, double
   * folder. Based upon "ic_folder_48px.svg" from Google's free material
   * design icon set.
   */
  background-size: 1.2em;
  background-image: url(../images/rootfolder-group-directory.svg);
}

.file--mime-home-directory {
  background-size: 1.3em;
  background-image: url(../images/home-directory.svg);
}
.file--mime-shared-directory {
  background-size: 1.3em;
  background-image: url(../images/shared-directory.svg);
}
.file--mime-public-directory {
  background-size: 1.3em;
  background-image: url(../images/public-directory.svg);
}
.file--mime-all-directory {
  background-size: 1.3em;
  background-image: url(../images/all-directory.svg);
}
.file--mime-folder-directory {
  background-size: 1.3em;
  background-image: url(../images/folder-directory.svg);
}

.file--mime-object-generic.file--general {
  /*
   * Circle icon with dot in the center. Loosely based on
   * "ic_radio_button_checked_48px.svg" from Google's free material
   * design icon set.
   */
  background-size: 1.2em;
  background-image: url(../images/object-generic.svg);
}
